*.class
*.pyc
*.pyo

/.project
/BookmarkOrganizer/.project
/BookmarkOrganizer/¸´¼þ BookmarkOrganizer.air
/.project
/BookmarkOrganizer/.project
/BookmarkOrganizer/¸´¼þ BookmarkOrganizer.air
/matrix/matrix.air